html,body {
    background-image: linear-gradient(to bottom right, rgb(150, 207, 248), rgb(49, 143, 244));
  display: block;
  height: 100%;
}


.do-list-body{
    width: 400px;
    /* border: black solid 1px; */
    height: 500px;
    /* background-color: white; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    font-family: 'arial';
    font-size: 40px;
    color: w;
}
.button-inside{
position: relative;
margin-bottom: 10px;
}

.add-input{
    height: 40px;
        width: 95%;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 20px;
}
.add-btn{
    position: absolute;
    right: 11px;
        top: 81px;
        background-color:rgb(38, 109, 196);;
        height: 24px;
        color: white;
        border: none;
     width: 60px;
      
}

.list-container{
   
    margin-top: 20px;
    height: 500px;
    background-color:white;
}

.listBtn{
   background:none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    text-align: left;
    font-size: 20px;
    height: 50px;
 

}

.lastBtn{
    border-bottom: none;
    text-align: center;
}


.fa {
    font-size: 30px;
    color: red;
    float:right;

}